<div class="container mt-4">

    <div class="card">
        <h1>Student Registation</h1>

        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="name" placeholder="Enter Name">

            </div>

            <div class="form-group">
                <label>address</label>
                <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"
                    class="form-control" id="address" placeholder="Enter address">

            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="phone" placeholder="Enter Mobile">

            </div>

            <button type="submit" class="btn btn-primary mt-4" (click)="save()">Submit</button>
        </form>
    </div>
<div>


<div class="container mt-4">

    <h1>Student Table</h1>

    <table class="table">
        <thead>
            @if (!isResultLoaded) {
                <h1>Loading.................</h1>
            }
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            @for(StudentItem of StudentArray; track StudentItem.id) {
                <tr>
                    <th scope="row">{{StudentItem.id  }}</th>
                    <td>{{StudentItem.name  | uppercase}}</td>
                    <td>{{StudentItem.address }}</td>
                    <td>{{StudentItem.phone }}</td>
    
                    <td>
                        <button type="button" class="btn btn-success"
                            (click)="setUpdate(StudentItem)">Edit</button>
    
                        <button type="button" class="btn btn-danger"
                            (click)="setDelete(StudentItem)">Delete</button>
    
                    </td>
                </tr>
            }
            @empty {
                <tr class="text-center">
                    <td colspan="5">No Records Found</td>
                </tr>
            }
            <!-- <tr *ngFor="let CustomerItem of CustomerArray"> -->

                

        </tbody>
    </table>

</div>